@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Readex+Pro&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* custom webkit scrollbar
 */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #505050;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html {
  /*-ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;*/
  scroll-behavior: smooth;
  color: #ffffff;
}

body {
  overflow-x: hidden;
  font-family: 'Readex Pro', sans-serif;
  background-color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.section {
  width: 100%;
  display: grid;
  user-select: none;
}

.flex-space-between {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.section-landing {
  background-color: #E85C47;
}

.height-100vh {
  min-height: 100vh;
}

.height-200vh {
  min-height: 200vh;
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
  color: black;
  line-height: 100%;
  text-align: center;
}
.logo {
  position: fixed;
  top: 50px;
  left: 5%;
  z-index: 10;
}
.logo p {
  font-size: 0.875rem;
}
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 5%;
  right: 0;
}
.socials {
  left: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 100;
}
.icon {
  width: 28px;
  height: 28px;
  padding: 5px;
  margin-right: 50px;
  cursor: pointer;
  fill: #ffffff;
}
.icon:hover {
  fill: #000000;
  transition: .5s;
  transition-timing-function: ease-in;
}
a {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  text-decoration: none;
  color: #ffffff;
}
a:hover{
  color: #cccccc;
  transition: .5s;
  transition-timing-function: ease-in;
}
.font-size-16 {
  font-size: 1rem;
}
.dim {
  color: #595959;
}
.sub {
  color: #6E6E6E;
  font-size: 12px;
}
.header {
  margin-right: 18px;
}
.horizontal {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.landing-intro {
  max-width: 45%;
  font-size: 1.536rem;
}
.between-spacer {
  margin-left: 3%;
  margin-right: 3%;
}
.flexbox-spacer {
  visibility: hidden;
}

.scroll-snapper {
  scroll-snap-align: center;
}

.project-content {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
}

.project-content p, .project-content img {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.project-preview {
  height: auto;
  width: 100%;
  border-radius: 25px;
  max-height: calc(100% - 40px);
  object-fit: cover;
}

.project-grid {
  width: 100%;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(66vh, 66vh);
}

.project-wrapper {
  width: 100%;
  height: 100%;
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(66vh, 66vh);
}

.project-container {
  background-color: #ffffff;
  border-radius: 50px;
  color: #222222;
  padding: 5%;
  position:relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.triangle-right.right {
  margin-right:40px;
}
.triangle-right.left {
  margin-left:40px;
}
.triangle-right:after {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#ffffff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
.triangle-right.right:after {
  top:55px;
  right:-30px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  left:auto;
  border-width:30px 0 0 30px; /* vary these values to change the angle of the vertex */
  border-color:transparent #ffffff ;
}
.triangle-right.left:after {
  top:55px;
  left:-30px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:30px 30px 0 0; /* vary these values to change the angle of the vertex */
  border-color:transparent #ffffff;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -95px;
  font-family: 'Readex Pro', sans-serif;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.grid-left-content {
  grid-column: 1 / 8;
  transform-origin: 150% 20%;
}

.grid-right-content {
  grid-column: 6 / 13;
  transform-origin: 0% 20%;
}


.grid-right-model {
  grid-column: 9 / 13;
}

.grid-left-model {
  grid-column: 1 / 5;
}

.grid-row-1 {
  grid-row: 1;
}

.grid-row-2 {
  grid-row: 3;
}

.grid-row-3 {
  grid-row: 5;
}

.position-relative {
  position: relative;
}

.out-of-view {
  visibility: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-delayed {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-in {
  0%{
		transform: scale(0, 0);
	}
  100% {
    transform: scale(1, 1);
  }
}

@keyframes animate-in-char {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .speech-bubble-animation {
    animation: scale-in .66s 1;
    animation-timing-function: cubic-bezier(0, .8, 0, .8);
  }
  .fade-in-animation {
    animation: fade-in 1s 1;
    animation-timing-function: ease-out;
  }
  .fade-in-animation-delay {
    animation: fade-in-delayed 1s 1;
    animation-timing-function: ease-out;
  }
  .animate-in-char {
    animation: animate-in-char 1s 1 backwards;
    display: inline-block;
    animation-delay: 1s;
  }
}

:root {
  --color-background: #31037d;
  --axis-x: 1px;
  --axis-y: .75rem;
  --delay: 10;
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #d49c3d;
  --color-red: #d14b3d;
  --color-violet: #cf52eb;
  --color-blue: #44a3f7;
  --color-green: #5acb3c;
  --color-yellow: #debf40;
  --color-foreground: var(--color-white);
}
.c-rainbow {
  counter-reset: rainbow;
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.c-rainbow__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow;
  font-size: 2rem;
  color: var(--text-color);
  text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black), 4px 4px 0 rgba(0, 0, 0, 0.2);
  animation: rainbow 1.5s ease-in-out infinite;
}
.c-rainbow__layer:nth-child(1) {
  animation-delay: calc(7 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 1);
}
.c-rainbow__layer:nth-child(2) {
  animation-delay: calc(6 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 2);
}
.c-rainbow__layer:nth-child(3) {
  animation-delay: calc(5 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 3);
}
.c-rainbow__layer:nth-child(4) {
  animation-delay: calc(4 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 4);
}
.c-rainbow__layer:nth-child(5) {
  animation-delay: calc(3 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 5);
}
.c-rainbow__layer:nth-child(6) {
  animation-delay: calc(2 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 6);
}
.c-rainbow__layer:nth-child(7) {
  animation-delay: calc(1 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 7);
}
.c-rainbow__layer:not(:first-child) {
  position: absolute;
  top: 0;
}
.c-rainbow__layer--white {
  --text-color: var(--color-white);
}
.c-rainbow__layer--orange {
  --text-color: var(--color-orange);
}
.c-rainbow__layer--red {
  --text-color: var(--color-red);
}
.c-rainbow__layer--violet {
  --text-color: var(--color-violet);
}
.c-rainbow__layer--blue {
  --text-color: var(--color-blue);
}
.c-rainbow__layer--green {
  --text-color: var(--color-green);
}
.c-rainbow__layer--yellow {
  --text-color: var(--color-yellow);
}
@keyframes rainbow {
  0%, 100% {
    transform: translatey(var(--axis-y));
  }
  50% {
    transform: translatey(calc(var(--axis-y) * -1));
  }
}
